###########################################
##            !!!WARNING!!!               #
## This conf file is managed by Ansible.  #
## Any changes will be overwritten        #
###########################################


Listen {{ item.http_port }}
Listen {{ item.https_port }}
