##########################################
#            !!!WARNING!!!               #
# This conf file is managed by Ansible.  #
# Any changes will be overwritten        #
###########################################

# Security
ServerTokens {{ item.servertokens | default('Prod') }}
ServerSignature Off
TraceEnable Off

ServerName "{{ ansible_nodename }}"
ServerRoot "/etc/httpd"
PidFile run/httpd.pid
Timeout {{ item.Timeout }}
KeepAlive On
MaxKeepAliveRequests {{ item.MaxKeepAliveRequests }}
KeepAliveTimeout {{ item.KeepAliveTimeout }}
LimitRequestFieldSize {{ item.LimitRequestFieldSize }}
LimitRequestFields {{ item.LimitRequestFields }}

User apache
Group apache

AccessFileName .htaccess
<FilesMatch "^\.ht">
    Require all denied
</FilesMatch>

<Directory />
  Options {{ item.Options | default ('FollowSymLinks') }}
  AllowOverride None
</Directory>

HostnameLookups Off
ErrorLog "/var/log/httpd/error_log"
LogLevel warn
EnableSendfile On

#Listen 80

Include "/etc/httpd/conf.modules.d/*.load"
Include "/etc/httpd/conf.modules.d/*.conf"
Include "/etc/httpd/conf/ports.conf"

LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%a %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %s %b \"%{Referer}i\" \"%{User-agent}i\"" forwarded

IncludeOptional "/etc/httpd/conf.d/*.conf"

